*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}

header{
    border-bottom: 3px solid rgb(0, 0, 0, 0.8);
    background-color: rgba(55, 66, 47, 0.7);

}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.title{
    margin-left: 50px;
    font-size: 2rem;
    color: red;
}

nav{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 1rem;
}
button{
    color: black;
    height: auto;
    background: none;
    border: none;
    border-bottom: 3px solid white;
    padding: 7px 35px;
    font-size: 1.6rem;
}
button:hover{
    margin-bottom: 15px;
    color: white;
}
#content{
    
    /* background-image: url('/src/assets/vishwas-katti-unsplash.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}