*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: brown;
}

header{
    border-bottom: 3px solid rgb(0, 0, 0, 0.8);

}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.title{
    margin-left: 50px;
    font-size: 2rem;
}

nav{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
button{
    color: black;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 7px 35px;
    font-size: 1.6rem;
}